.element-hero-banner {
  position: relative;
  width: 100%;
}

.element-hero-banner .hero-image {
  height: 500px;
}

.element-hero-banner .hero-image picture {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.element-hero-banner .hero-image img {
  min-width: 100%;
  height: auto;
}

.element-hero-banner .hero-content {
  padding: 1em 0;
}

.element-hero-banner .hero-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.element-hero-banner .hero-content.left .wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.element-hero-banner .hero-content.center .wrapper {
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.element-hero-banner .hero-content.right .wrapper {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

.element-hero-banner .hero-content-inner {
  max-width: 100%;
}

@media (min-width: 992px) {
  .element-hero-banner .hero-content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
  }

  .element-hero-banner .hero-content .wrapper {
    position: relative;
    height: 100%;
  }
}

.element-hero-banner.hero .hero-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
}

.element-hero-banner.hero .hero-content .wrapper {
  height: 100%;
}
